body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* code {
    font-family: "Courier New",
        monospace;
} */

.board {
    width: 312px;
    height: 312px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: #dddddd;
}

.tile {
    margin: 1px;
    width: 100px;
    height: 100px;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: 1px solid;
    border-radius: 30px;
    background-color: #ffffff;
}

.tile--empty {
    border: 1px solid #dddddd;
    background-color: #dddddd;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
